<p>frontend1 works!</p>


<div formGroupName = "address">
<div class = "form-group">
<label for = "city"> Enter City</label>
<input type = "text" class = "form-control" id = "city" name = "city" formControlName = "city">


<div class = "form-group">
    <label for = "pincode"> Pin code</label>
    <input type = "text" class = "form-control" name = "pincode"
    formControlName = "pincode">
</div>

<div class = "form-group">
    <label for = "street"> Street</label>
    <input type = "text" class = "form-control" name = "street"
    formControlName = "street">
</div>

<p> 
   <label  for = "country"> country</label>
   <select id = "country" name = "country" formControlName = "country">
    <option value = "1"> India</option>
    <option value = "2"> usa</option>
    <option value = "3"> england</option>
    <option value = "4"> singapore</option>
   </select>
</p>
</div>

</div>